/*
    source: https://rencredit.ru/
*/
@font-face{
    font-family: 'Roboto-Regular';
    font-face-name: 'Roboto-Regular';
    src: url('fonts/Roboto-Regular.ttf') format('ttf'),
    url('fonts/Roboto-Regular.eot') format('eot'),
    url('fonts/Roboto-Regular.woff') format('woff');;
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto-Light';
    font-face-name: 'Roboto-Light';
    src: url('fonts/Roboto-Light.ttf') format('ttf'),
        url('fonts/Roboto-Light.eot') format('eot'),
        url('fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto-Bold';
    src: url('fonts/Roboto-Bold.ttf') format('ttf'),
        url('fonts/Roboto-Bold.eot') format('eot'),
        url('fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'Roboto-Medium';
    src: url('fonts/Roboto-Medium.ttf') format('ttf'),
    url('fonts/Roboto-Medium.eot') format('eot'),
    url('fonts/Roboto-Medium.woff') format('woff');;
    font-weight: 500;
    font-style: normal;
}
body {
    font-family: Roboto-Regular,Arial,sans-serif;
    padding:0;
    margin:0;
}
header {
    background: url(img/header_bg.jpg) no-repeat;
    background-size: auto;
    background-position: center;
    height:1000px;
}
nav{
    background: rgba(0,0,0,0.45);
    height:90px;
}
#nav_logo{
    display:none;
}
#nav_menu{
    display:none;
}
#nav_block{
    display:flex;
    width:75%;
    margin: 0 auto;
    height:100%;
    justify-content: space-between;
    font-family: Roboto-Light,sans-serif !important;
}
#logo_desktop{
    position:relative;
}
#logo_desktop img{
    border-radius: 32px 0 52px 0;
    background:white;
    padding:20px 47px 19px 40px;
}
#nav_block-left{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:35%;
}
#nav_block-right{
    height:100%;
    display:flex;
    width:55%;
    justify-content:space-around;
    align-items: center;
}
#no_underline{
    border-bottom: none;
}
#no_underline img:hover{
    transform:scale(1.09);
}
.nav_elem img
{
    margin:0 5px 0 0;
}
.nav_elem a{
    text-decoration: none;
    border-bottom: 1px solid #c4c8ce;
    color:white;
    line-height: 2em;
}
.nav_elem a:hover{
    color:#c4c8ce;
    text-decoration: none;
    border-bottom: 1px solid white;
}
#dotted{
    text-decoration: none;
    border-bottom:1px dotted #c4c8ce;
}
#dotted:hover{
    border-bottom: 1px dotted white;
}
/************************* три зелёных плашки *****************/
.offers{
    height:250px;
    display:flex;
    flex-direction:column;
}
.offer_elem{
    background:rgba(100, 167, 66, 0.8);
    border-bottom:1px solid rgba(255,255,255,0.2);
    flex:1;
}
.offer_elem:hover{
    background:#85bc31;
}
.offer_elem-inner{
    width:70%;
    margin: 0 auto;
    height: 100%;
    display:flex;
    justify-content: space-between;
}
.inner_left{
    flex:3;
    display:flex;
    flex-direction: row;
}
.inner_right{
    flex:1;
    height:100%;
    margin: 0 0 0 10%;
}
.offer_elem .button {visibility: hidden;}
.offer_elem:hover .button {visibility: visible;}
.inner_left-icon {
    align-self: center;
    width:fit-content;
    text-align:center;
    vertical-align: middle;
    padding:10px 15px;
}
.inner_left-text{
    flex:5;
    color:white;
    align-self:center;
    font-family: 'Roboto-Light',sans-serif;
}
.inner_left-text h3{
    font-weight:normal;
    margin:0;
}
.inner_left-text a{
    text-decoration: none;
    color:white;
}
.inner_left-text a:hover{
    border-bottom:1px solid white;
    color:white;
    text-decoration: none;
}
/******************КНОПКИ "ОФОРМИТЬ" **************************/
.button{
    border-radius:25px;
    background:#d90664;
    color:white;
    padding:10px;
    text-align: center;
    margin: 5% auto 0 auto;
    width:70%;
}
.button:hover{
    background:#328935;
    cursor:pointer;
}
.btn_modified:hover{
    background: #7fbf22;
}
/*  КНОПКА И ССЫЛКА НА СЛАЙДЕ 1*/
#first_btn{
    padding:5px 10px;
    width:fit-content;
}
#btn_modified_link_1{
    color: #c9067b;
    transition:100ms;
}
#btn_modified_link_1:hover{
    color:white;
}
/* КНОПКА И ССЫЛКА НА СЛАЙДЕ 2*/
#btn_modified_link_2{
    color:white;
    text-decoration: underline;
}
/* КНОПКА И ССЫЛКА НА СЛАЙДЕ 3,4 */
#btn_modified_link_3, #btn_modified_link_4{
    color:#c9067b;
    text-decoration: underline;
}
#btn_modified_link_3:hover, #btn_modified_link_4:hover{
    text-decoration: underline;
    color:white;
    transition:100ms;
}
/*****************PROMO BLOCK**********************************/
#promo_block{
    width:100%;
    background: #eeeeee;
}
#promo_inner{
    width:70%;
    justify-content: space-around;
    margin: 0 auto;
    display:flex;
}
.promo_elem{
    margin: 4% 0 0 0;
    box-shadow:1px 1px 5px 0 darkgray;
    width:25%;
    height:fit-content;
    display:flex;
    flex-direction: column;
    background:white;
}
.promo_elem-upper{
    max-height:227px;
    height:fit-content;
}
.promo_elem-upper img{
    visibility: hidden;
}
.peu_inner {
    height:100%;
    width:100%;
}
.peu_inner.first{
    background: url("img/promo1.jpg") no-repeat;
    background-size: 100% auto;
    transition: background-size 250ms linear 100ms;
}
.peu_inner.second {
    background: url("img/promo2.jpg") no-repeat;
    background-size: 100% auto;
    transition: background-size 250ms linear 100ms;
}
.peu_inner.third{
    background: url("img/promo3.jpg") no-repeat;
    background-size: 100% auto;
    transition: background-size 250ms linear 100ms;
}
.peu_inner:hover{
    background-size: 111%;
}
.promo_elem-down a{
    color:rgb(67,148,57);
    font-size:18px;
    text-decoration: underline;
}
.promo_elem-down h5{
    margin:5% 0 10% 5%;
}
.promo_elem-down a:hover{
    color:#c9067b;
}
.promo_elem-down ul{
    list-style-image: url("img/marker.png");
    line-height: 1.6em;
    font-size: 14px;
}
.promo_elem-down ul > li{
    margin: 0 0 15px 0;
}
#additional_service{
    color:black;
    text-decoration: underline;
    text-decoration-color: #2a820f;
    display:block;
    width:fit-content;
    margin:1% auto 0 auto;
    padding-bottom: 1%;
}
#additional_service:hover{
    color:#c9067b;
    text-decoration-color: #c9067b;;
}
/****************NEWS BLOCK********************/
#news_inner{
    width:65%;
    display:flex;
    flex-direction: row;
    margin: 3% auto;
    justify-content: space-between;
}
.news_inner-elem{
    width:18%;
}
.news_inner-elem h4{
    width:fit-content;
    margin: 0 0 4% 0;
    text-decoration: none;
}
.news_inner-elem h4 a{
    text-decoration: none;
    border-bottom: 1px solid rgb(67,148,57);
    color:black;
    font-family: Roboto-Light,sans-serif;
    font-weight: 300;
}
.news_inner-elem h4 a:hover{
    border-bottom: 1px solid #c9067b;
    color:#c9067b;
}
.date{
    color:gray;
}
.news_text{
    border-bottom:1px solid #2a820f;
    color:black;
    text-decoration:none;
    font-size: 13px;
}
.news_text:hover{
    text-decoration: none;
    border-bottom:1px solid #c9067b;
    color:#c9067b;
}
/******************************************************/
footer{
    background:#eeeeee;
    height:fit-content;
}
.footer_inner{
    display:flex;
    justify-content: space-between;
    width:65%;
    margin: 0 auto;
}
.footer_elem{
    margin:4% 0 0 0;
    width:25%;
    line-height: 1.1em;
}
.footer_elem ul{
    list-style: none;
    font-size:13px;
    line-height: 2.1em;
    padding: 0;
    margin:0 0 20% 0;
}
.footer_elem ul li > a{
    text-decoration: none;
    border-bottom: 1px solid #2a820f;
    color:black;
    font-family: Roboto-Regular,sans-serif;
}
.footer_elem ul li > a:hover{
    text-decoration: none;
    border-bottom:1px solid #c9067b;
    color:#c9067b;
}
.footer_elem > a{
    font-weight: normal;
    font-family: Roboto, sans-serif;
    font-size:20px;
    color:black;
}
.footer_elem > a:hover{
    text-decoration:none;
    color:black;
}
.footer_elem > small {
    color:gray;
    font-size:12px;
}
.footer_elem #social{
    margin:5% 0 5% 0;
}
.footer_elem #social a{
    display:inline-block;
    width:35px;
    height:27px;
}
#social > a:first-child{
    background:url('img/social_3.png') 0 0  no-repeat;
    background-size:200px;
}
#social > a:nth-child(2){
    background:url('img/social_3.png') -34px 0  no-repeat;
    background-size:200px;
}
#social > a:nth-child(3){
    background:url('img/social_3.png') -68px 0  no-repeat;
    background-size:200px;
}
#social > a:nth-child(4){
    background:url('img/social_3.png') -101px 0  no-repeat;
    background-size:200px;
}
#social > a:nth-child(5){
    background:url('img/social_3.png') -135px 0  no-repeat;
    background-size:200px;
}
#social > a:last-child{
    background:url('img/social_3.png') -168px 0  no-repeat;
    background-size:200px;
}
#social > a:first-child:hover{
    background:url('img/social_3.png') 0 -27px  no-repeat;
    background-size:200px;
}
#social > a:nth-child(2):hover{
    background:url('img/social_3.png') -34px -27px  no-repeat;
    background-size:200px;
}
#social > a:nth-child(3):hover{
    background:url('img/social_3.png') -68px -27px  no-repeat;
    background-size:200px;
}
#social > a:nth-child(4):hover{
    background:url('img/social_3.png') -101px -27px  no-repeat;
    background-size:200px;
}
#social > a:nth-child(5):hover{
    background:url('img/social_3.png') -135px -27px  no-repeat;
    background-size:200px;
}
#social > a:last-child:hover{
    background:url('img/social_3.png') -168px -27px  no-repeat;
    background-size:200px;
}
.footer_elem #contact_email{
    color:#2a820f;
    text-decoration: underline;
    text-decoration-color: #7fbf22;
    font-size:12px;
}
.footer_elem #contact_email:hover,.footer_elem #interfax:hover, .footer_elem #owners a:hover{
    text-decoration: underline ;
    text-decoration-color: #c9067b;
    color:#c9067b;
}
.footer_elem #interfax{
    font-size:12px;
    text-decoration: underline;
    text-decoration-color: #2a820f;
}
.footer_elem #copyright{
    color:black;
    font-size:12px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer_elem .copyright_left{
    flex:25%;
}
.footer_elem .copyright_right{
    flex:65%;
}
#footer_right li{
    margin:10px 0 0 0;
}
#footer_right {
    line-height: 1.5em;
    margin:0 0 3% 0;
}
.footer_elem #owners a{
    font-size:12px;
    text-decoration: underline;
    text-decoration-color: #2a820f;
    color:black;
}
.footer_elem #owners{
    margin:0 0 9% 0;
}
.footer_elem #address{
    font-size:12px;
}
/********************TOP NAVIGATION WHILE SCROLLING*************************/
#nav_block_onscroll{
    position:fixed;
    display:none;
    z-index: 99999;
    left:0;
    top:0;
    width:100%;
    height:60px;
    background: rgb(54,139,57);
}
#nbo_inner{
    width:65%;
    display:flex;
    height:100%;
    margin:0 auto;
    flex-direction: row;
}
/**************** Mobile sidemenu ******************/
.mobNavWrapper{
    display:none;
    background:rgba(0,0,0,.5);
    width:100%;
    position:fixed;
    left:0;top:0;
    z-index: 99;
    height:100vh;
}
.mobNav{
    width:70%;
    position:absolute;
    right:0;
    z-index: 100;
    height:100vh;
    background: -webkit-linear-gradient(left, #4f9843, #7db942);
    background: linear-gradient(to right, #4f9843, #7db942);
}
.mobNav_content{
    margin:0 auto;
    width:90%;
}
.mobNav_content-element{

}
.mobNav_content-element:not(:first-child) {
    margin:5% 0 0 0;
}
.mobNav_content-element > a{
    border-bottom:1px solid #b9d799;
    text-decoration: none;
    color:#fff;
}
.icon-lock:before{
    content: url("img/icon_lock_small.png");
    height:15px;
}
.mobNav_content-search{
    margin:10% 0 0 0;
}
.mobNav_content-search form{
    display:flex;
    border:1px solid #8ac771 ;
    min-height:45px;
    box-shadow:inset 0 4px 5px rgba(0,0,0,0.1) ;
}
.mobNav_content-search input[type=text]{
    background: none;
    color:#fff;
    border:none;
    padding:0 0 0 5px;
}
.mobNav_content-search input::-webkit-input-placeholder {color:#fff;}
.mobNav_content-search input::-moz-placeholder {color:#fff;}
.mobNav_content-search input[type=text]:focus{
    outline: none;
}
.mobNav_content-search input[type=button]{
    border:none;
    width:20%;
    height:100%;
    align-self: center;
    background:url("img/searchMobile.png") center center no-repeat;
}
.mobNav_content-search input[type=button]:focus{
    outline: none;
    background:url("img/searchMobile_active.png") center center no-repeat;
}
.mobNav_closeBtn{
    display:flex;
    justify-content: flex-end;
}
.mobNav_closeBtn>img{
    padding:3%;
}
@keyframes mobNavOpen {
    0%{right:-1000px;}
    100%{right:0;}
}
@keyframes mobNavClose {
    0%{right:0}
    100%{right:-1000px;}
}
.mobNavOpen{
    animation:mobNavOpen 400ms forwards;
}
.mobNavClose{
    animation:mobNavClose 500ms forwards;
}
/********** LEFT BLOCK ***********/
.nbo_inner-elem.menu{
    display:flex;
    flex:30%;
    flex-direction: row;
    justify-content: space-between;
}
.nbo_inner-elem.menu > a{
    color:white;
    border-left:1px solid #7fbf22;
    font-family: Roboto-Light,sans-serif;
    text-align: center;
    font-size: 18px;
    padding:3% 0 0 0;
    flex:1;
    height:100%;
}
.nbo_inner-elem.menu > a:hover{
    text-decoration:none;
    color:white;
    background: #7fbf22;
}
/*********** MIDDLE BLOCK **********/
.nbo_inner-elem.links{
    flex:50%;
    font-family: Roboto-Light,sans-serif;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.links-elem{
    margin:0 0 0 7%;
}
.links-elem > a{
    color:white;
    font-size:14px;
    border-bottom:1px solid #7fbf22;
    text-decoration:none;
}
.links-elem > a:hover{
    text-decoration:none;
    border-bottom:1px solid #7fbf22;
    color:#7fbf22;
}
/**********************RIGHT BLOCK*******************/
.nbo_inner-elem.ebank{
    flex:20%;
    align-self: center;
    text-align: right;
}
.nbo_inner-elem.ebank > a:nth-child(2){
    color:white;
    text-decoration: none;
    font-size:22px;
    font-family: Roboto-Light,sans-serif;
}
.nbo_inner-elem.ebank > a:nth-child(2):hover{
    border-bottom:1px solid white;
    text-decoration: none;
}
/********************************ADAPTIVITY****************************/
@media screen and (max-width: 767px){
   #nav_block{
       display:none;
       background:none;
   }
    #logo_desktop{
        display:none;
    }
    nav{
        background:white;
        max-height:60px;
        height:fit-content;
    }
    #nav_logo{
        display:block;
        width:30%;
        margin:0 0 0 1%;
    }
    .offer_elem .inner_left-text small{
        display:none;
    }
    .offer_elem .button {display:none;}
    .offer_elem:hover .button {display:none;}
    .offers{
        height:35%;
    }
    .offer_elem-inner{
        width:95%;
    }
    .inner_left-text h3 a:hover{
        border-bottom:none;
    }
    body{
        min-width:300px;
    }
    header{
        height: fit-content;
        position:sticky;
        overflow: hidden;
        left:0;
    }
    #news_block,footer{
        position:sticky;
        overflow: hidden;
        left:0;
    }
    #carouselExampleIndicators{
        display:none;
    }
    .button.btn_modified{
        display:none;
    }
    #btn_modified_link_1, #btn_modified_link_2,#btn_modified_link_3, #btn_modified_link_4{
        display:none;
    }
    #promo_block{
        width:100%;
        overflow-x: scroll ;
    }
    #promo_inner{
        min-width:950px;
        overflow-x: scroll ;
    }
    .promo_elem{
        width:300px;
    }
    #news_inner{
        width:90%;
        flex-direction: column;
    }
    .news_inner-elem{
        width:75%;
        margin: 0 auto;
    }
    .news_inner-elem.empty{
        display:none;
    }
    .news_inner-elem.press{
        margin:3% auto 0 auto;
    }
    .hidden-elem{
        display:none;
    }
    .footer_inner{
        width:100%;
        flex-direction: column;
    }
    .footer_elem{
        margin:1% auto;
        width:75%;
    }
    #nav_menu{
        display:block;
        position:absolute;
        right:1%;
        top:1%;
        width:auto;
        height:100%;
        max-width: 45px;
        max-height:26px;
    }
}
@media screen and (min-width:768px) and (max-width:1179px){
    #promo_inner{
        width:100%;
    }
    #news_inner{
        width:95%;
        justify-content: space-around;
    }
    #nbo_inner{
        width:85%;
    }
    .nbo_inner-elem.ebank{
        display:none;
    }
    .news_inner-elem{
        width:25%;
    }
    #nav_logo{
        display:none;
    }
    .empty{ /* last news_inner-elem */
        display:none;
    }
    #nav_block{
        width:100%;
        justify-content: space-between;
        font-size: 13px;
        background:gray;
    }
    #nav_block-left{
        width:35%;
    }
    #nav_block-right{
        width:55%;
    }
    .offers{
        margin:50% 0 0 0;
    }
    #logo_desktop{
        margin: 4% 4%;
        position:relative;
    }
    #btn_modified_link_1,#btn_modified_link_2,#btn_modified_link_3,#btn_modified_link_4{
        position:absolute;
    }
    .button.btn_modified{
        width:fit-content;
        padding:4px 14px;
        font-size:14px;
    }
    #first_btn{
        margin:0 0 -1% 54%;
    }
    #btn_modified_link_1{
        right:15%;
        top:35%;
    }
    #second_btn{
        margin:0 0 0 48%;
    }
    #btn_modified_link_2{
        right:24%;
        top:35%;
    }
    #third_btn{
        margin:0 0 5% 62%;
    }
    #btn_modified_link_3{
        right:6%;
        top:23%;
    }
    #fourth_btn{
        margin:0 0 -1% 53%;
    }
    #btn_modified_link_4{
        right:15%;
        top:35%;
    }
}
@media screen and (min-width: 1180px) and (max-width: 1429px){
    #nav_block{
        width:100%;
        margin:-10px 0 0 0;
        background:none;
        justify-content:space-between;
    }
    #nbo_inner{
        width:90%;
    }
    #nav_menu{
        display:none;
    }
    header{
        height:920px;
        background-size: auto;
        background-position: center center;
    }
    .offers{
        margin:30% 0 0 0;
    }
    .offer_elem-inner{
        margin:0 0 0 25%;
        width:75%;
    }
    #btn_modified_link_2,#btn_modified_link_3,#btn_modified_link_4{
        position:absolute;
    }
    .button.btn_modified{
        width:fit-content;
        padding:5px 15px;
    }
    #first_btn{
        margin:0 0 -3% 53%;
    }
    #btn_modified_link_1{
        margin:0 0 0 45%;
    }
    #second_btn{
        margin:0 1% 3% 47%;
    }
    #btn_modified_link_2{
        right:29%;
        top:28%;
    }
    #third_btn{
        margin:0 0 8% 63%;
    }
    #btn_modified_link_3{
        right:13%;
        top:19%;
    }
    #fourth_btn{
        margin:0 0 1% 53%;
    }
    #btn_modified_link_4{
        right:20%;
        top:32%;
    }
    #promo_inner{
        width:95%;
        justify-content: space-between;
    }
    #news_inner{
        width:95%;
    }
    .promo_elem-down li{
        padding: 0 5% 0 0;
    }
    .footer_inner{
        width:95%;
    }
    .inner_right{
        flex:2;
    }
    #logo_desktop{
        margin: 4% 4%;
    }
}
@media screen and (min-width:1430px) and (max-width:1799px){
    .offers{
        margin: 600px 0 0 0;
    }
    header{
        height:950px;
        background-size: 100% 100%;
        background-position: center center;
    }
    #promo_inner{
        width:80%;
    }
    #news_inner{
        width:75%;
    }
    #btn_modified_link_1,#btn_modified_link_2,#btn_modified_link_3,#btn_modified_link_4{
        position:absolute;
    }
    .button.btn_modified{
        width:fit-content;
        padding:7px 16px;
    }
    #first_btn{
        margin:0 0 0 53%;
    }
    #btn_modified_link_1{
        right:28%;
        top:33%;
    }
    #second_btn{
        margin:0 0 4% 48%;
    }
    #btn_modified_link_2{
        right:31%;
        top:25%;
    }
    #third_btn{
        margin:0 0 8% 63%;
    }
    #btn_modified_link_3{
        right:15%;
        top:19%;
    }
    #fourth_btn{
        margin:0 0 2% 53%;
    }
    #btn_modified_link_4{
        right:24%;
        top:28%;
    }
    #logo_desktop{
        margin:4% 7%;
    }
}
@media screen and (min-width:1800px){
    header{
        height:1070px;
        background-size: 100% auto;
        background-position: center center;
    }
    .offers{
        margin:28% 0 0 0;
    }
    .offer_elem-inner{
        margin:0 0 0 30%;
        justify-content: flex-start;
    }
    .inner_left-text{
        flex:5;
    }
    .inner_right{
        margin:0;
        flex:2;
    }
    .offer_elem .button {
        margin:3% 0 0 0;
        width:fit-content;
        padding:10px;
    }
    #promo_inner{
        width:70%;
    }
    #news_inner{
        width:65%;
    }
    #logo_desktop{
        margin:2% 13%;
    }
    #btn_modified_link_1,#btn_modified_link_2,#btn_modified_link_3,#btn_modified_link_4{
        position:absolute;
    }
    .button.btn_modified{
        width:fit-content;
        padding:7px 17px;
    }
    #first_btn{
        margin:0 0 3% 54%;
    }
    #btn_modified_link_1{
        right:29%;
        top:25%;
    }
    #second_btn{
        margin:0 0 6% 48%;
    }
    #btn_modified_link_2{
        right:33%;
        top:18%;
    }
    #third_btn{
        margin:0 1% 10% 63%;
    }
    #btn_modified_link_3{
        right:20%;
        top:13%;
    }
    #fourth_btn{
        margin:0 0 2% 53%;
    }
    #btn_modified_link_4{
        right:28%;
        top:27%;
    }
}
/*****************************************************************************************/