/*
    source: https://rencredit.ru/
*/
body {
    font-family: Roboto,sans-serif;
    padding:0;
    margin:0;
}
header {
    background: url(img/header_bg.jpg) no-repeat;
    background-size: auto;
    background-position: center center;
    height:1000px;
}
nav{
    background: rgba(0,0,0,0.45);
    height:90px;
}
#nav_block{
    display:flex;
    width:75%;
    margin: 0 auto;
    height:100%;
    justify-content: space-between;
}
#nav_block-left{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:25%;
}
#nav_block-right{
    height:100%;
    display:flex;
    width:45%;
    justify-content:space-around;
    align-items: center;
}
#no_underline{
    border-bottom: none;
}
#no_underline img:hover{
    transform:scale(1.09);
}
.nav_elem img
{
    margin:0 5px 0 0;
}

.nav_elem a{
    text-decoration: none;
    border-bottom: 1px solid #c4c8ce;;
    color:white;
    line-height: 2em;
}
.nav_elem a:hover{
    color:#c4c8ce;
    text-decoration: none;
    border-bottom: 1px solid white;
}
/************************* три зелёных плашки *****************/
.offers{
    height:250px;
    display:flex;
    flex-direction:column;
}
.offer_elem{
    background:rgba(72,160,81,0.85);
    border-bottom:1px solid rgba(255,255,255,0.2);
    flex:1;
}
.offer_elem:hover{
    background:rgba(5,175,13,0.85);
}
.offer_elem-inner{
    width:70%;
    margin: 0 auto;
    height: 100%;
    display:flex;
    justify-content: space-around;
}
.inner_left{
    flex:3;
    display:flex;
    flex-direction: row;
}
.inner_right{
    flex:1;
    height:100%;
    margin: 0 0 0 10%;
}
.offer_elem .button {visibility: hidden;}
.offer_elem:hover .button {visibility: visible;}
.inner_left-icon {
    align-self: center;
    width:fit-content;
    text-align:center;
    vertical-align: middle;
    padding:10px 15px;
}
.inner_left-text{
    flex:5;
    color:white;
    align-self:center;
}
.inner_left-text h3{
    font-weight:normal;
    margin:0;
}
.inner_left-text a{
    text-decoration: none;
    color:white;
}
.inner_left-text a:hover{
    border-bottom:1px solid white;
    color:white;
    text-decoration: none;
}
/******************КНОПКИ "ОФОРМИТЬ" **************************/
.button{
    border-radius:25px;
    background:#c9067b;
    color:white;
    padding:10px;
    text-align: center;
    margin: 5% auto 0 auto;
    width:70%;
}
.button:hover{
    background:#2a820f;
    cursor:pointer;
}
.btn_modified:hover{
    background: #7fbf22;
}
.btn_modified{
    width:fit-content;
    margin:0 0 0 55%;
    padding:5px 15px;
    display:inline-block;
}
/*  КНОПКА И ССЫЛКА НА СЛАЙДЕ 1*/
#first_btn{
    margin:0 1% 2% 23%;
}
#btn_modified_link_1{
    color: #c9067b;
    transition:100ms;
}
#btn_modified_link_1:hover{
    color:white;
}
/* КНОПКА И ССЫЛКА НА СЛАЙДЕ 2*/
#second_btn{
    margin:0 1% 6% 15%;
}
#btn_modified_link_2{
    color:white;
    text-decoration: underline;
}
/* КНОПКА И ССЫЛКА НА СЛАЙДЕ 3,4 */
#third_btn{
    margin:0 1% 10% 43%;
}
#btn_modified_link_3, #btn_modified_link_4{
    color:#c9067b;
    text-decoration: underline;
}
#btn_modified_link_3:hover, #btn_modified_link_4:hover{
    text-decoration: underline;
    color:white;
    transition:100ms;
}
#fourth_btn{
    margin: 0 1% 2% 22%;
}
/*****************PROMO BLOCK**********************************/
main{
}
#promo_block{
    width:100%;
    background: #eeeeee;
}
#promo_inner{
    width:70%;
    justify-content: space-around;
    margin: 0 auto;
    display:flex;
}
.promo_elem{
    margin: 4% 0 0 0;
    box-shadow:1px 1px 5px 0 darkgray;
    width:25%;
    height:fit-content;
    display:flex;
    flex-direction: column;
    background:white;
}
.promo_elem-upper{
    max-height:227px;
    height:fit-content;
}
.promo_elem-upper img{
    visibility: hidden;
}
.peu_inner {
    height:100%;
    width:100%;
}
.peu_inner.first{
    background: url("img/promo1.jpg") no-repeat;
    background-size: 100% auto;
    transition: background-size 250ms linear 100ms;
}
.peu_inner.second {
    background: url("img/promo2.jpg") no-repeat;
    background-size: 100% auto;
    transition: background-size 250ms linear 100ms;
}
.peu_inner.third{
    background: url("img/promo3.jpg") no-repeat;
    background-size: 100% auto;
    transition: background-size 250ms linear 100ms;
}
.peu_inner:hover{
    background-size: 111%;
}
.promo_elem-down{
}
.promo_elem-down a{
    color:#37c651;
    font-size:18px;
    text-decoration: underline;
}
.promo_elem-down h5{
    margin:5% 0 10% 5%;
}
.promo_elem-down a:hover{
    color:#c9067b;
}
.promo_elem-down ul{
    list-style-image: url("img/marker.png");
    line-height: 2em;
    font-size: 15px;
}
#additional_service{
    color:black;
    text-decoration: underline;
    text-decoration-color: #2a820f;
    display:block;
    width:fit-content;
    margin:1% auto 0 auto;
    padding-bottom: 1%;
}
#additional_service:hover{
    color:#c9067b;
    text-decoration-color: #c9067b;;
}
#news_block{
}
#news_inner{
    width:65%;
    display:flex;
    flex-direction: row;
    margin: 3% auto;
    justify-content: space-between;
}
.news_inner-elem{
    width:18%;
}
.news_inner-elem h4{
    font-weight: normal;
    width:fit-content;
    margin: 0 0 4% 0;
    text-decoration: none;
}
.news_inner-elem h4 a{
    text-decoration: none;
    border-bottom: 1px solid #2a820f;
    color:black;
}
.news_inner-elem h4 a:hover{
    border-bottom: 1px solid #c9067b;
    color:#c9067b;
}
.date{
    color:gray;
}
.news_text{
    border-bottom:1px solid #2a820f;
    color:black;
    text-decoration:none;
    font-size: 13px;
}
.news_text:hover{
    text-decoration: none;
    border-bottom:1px solid #c9067b;
    color:#c9067b;
}
/******************************************************/
footer{

}
/********************************АДАПТИВНОСТЬ****************************/
@media screen and (max-width: 767px){
    /*TODO ДОПИСАТЬ СТИЛИ И АДАПТИВНОСТЬ СЛАЙДЕРА И POSITION:STICKY ПРИ СКРОЛЛЕ*/
}


@media screen and (min-width:768px) and (max-width:1179px){
    #promo_inner{
        width:100%;
    }
    #news_inner{
        width:95%;
        justify-content: space-around;
    }
    .news_inner-elem{
        width:25%;
    }
    .empty{ /* last news_inner-elem */
        display:none;
    }
    #nav_block{
        width:100%;
        justify-content: space-between;
        font-size: 13px;
        background:gray;
    }
    #nav_block-left{
        width:35%;
    }
    #nav_block-right{
        width:55%;
    }
    .offers{
        margin:50% 0 0 0;
    }
}
@media screen and (min-width: 1180px) and (max-width: 1429px){
    #nav_block{
        width:100%;
        justify-content:space-around;
    }
    header{
        height:920px;
        background-size: auto;
        background-position: center center;
    }
    .offers{
        margin:40% 0 0 0;
    }
    #first_btn{
        margin:0 1% -10% 28%;
    }
    #second_btn{
        margin:0 1% 1% 20%;
    }
    #third_btn{
        margin:0 1% 7% 50%;
    }
    #fourth_btn{
        margin:0 1% 0 30%;
    }
    #promo_inner{
        width:90%;
    }
    #news_inner{
        width:85%;
    }
    .peu_inner{

    }
}
@media screen and (min-width:1430px) and (max-width:1799px){
    .offers{
        margin: 600px 0 0 0;
    }
    header{
        height:950px;
        background-size: 100% 100%;
        background-position: center center;
    }
    #promo_inner{
        width:80%;
    }
    #news_inner{
        width:75%;
    }
}
@media screen and (min-width:1800px){
    header{
        height:1070px;
        background-size: 100% auto;
        background-position: center center;
    }
    .offers{
        margin:28% 0 0 0;
    }
    .offer_elem-inner{
        margin:0 0 0 30%;
        justify-content: flex-start;

    }
    .inner_left-text{
        flex:5;
    }
    .inner_left-icon{

    }
    .inner_right{
        margin:0;
        flex:2;
    }
    .offer_elem .button {
        margin:3% 0 0 0;
        width:fit-content;
        padding:10px;
    }
    #promo_inner{
        width:70%;
    }
    #news_inner{
        width:65%;
    }
}
/*****************************************************************************************/